package nav_bar

var assetPrefix = "/static/components/nav_bar/"
var imagePrefix = "/static/images/"

templ NavBar() {
	<link rel="stylesheet" href={ assetPrefix + "nav_bar.css" }/>
	<div class="nav-bar-container">
		<a id="home-link" href="/">
			two x<span class="blinking-cursor">|</span>
		</a>
		<a href="/code">code</a>
		<a href="/music">music</a>
		<a href="/gallery">gallery</a>
		<a href="/blog">blog</a>
		<a href="/about">about</a>
	</div>
}
